@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme' with (
  $theme: themes.$g100
);
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/fonts';
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/components';

body {
  background-color: theme.$background;
  color: theme.$text-primary;
}
